* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #c1cedf;
}

.wrap .add-new-event,
.wrap .show-days-events {
  width: 40%;
  height: 590px;
  margin: 40px 0;
}

.section-title {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 24pt;
}

.add-new-event {
  color: white;
  background-color: #46529e;
}

.add-new-event fieldset {
  margin: 0;
  border: none;
  width: 100%;
}

.add-new-event fieldset .wrap-for-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-new-event .fieldset-for-types {
  height: 172px;
}

.add-new-event label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.add-new-event label option {
  color: white;
  background-color: #46529e;
}

.add-new-event label input,
.add-new-event label select {
  color: inherit;
  background-color: inherit;
  margin: 0 10px;
  border: none;
}

.add-new-event label textarea {
  margin-left: 10px;
  resize: none;
  width: 100%;
}

.add-new-event label ::-webkit-input-placeholder {
  color: #dedfe4;
}

.add-new-event label :-ms-input-placeholder {
  color: #dedfe4;
}

.add-new-event label ::-ms-input-placeholder {
  color: #dedfe4;
}

.add-new-event label ::placeholder {
  color: #dedfe4;
}

.add-new-event button {
  text-transform: uppercase;
  padding: 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.add-new-event .submit {
  background-color: #30b9ef;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.add-new-event .reset {
  background-color: #ee1628;
}

.show-days-events {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-days-events .date-out {
  font-size: 20pt;
  border: none;
}

.show-days-events .wrap-for-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 530px;
}

.show-days-events .wrap-for-events {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid black;
  margin: 1px 1px 0;
  overflow: auto;
}

.show-days-events .wrap-for-events .item-in-day {
  height: 60px;
  margin: 1px;
  border: 1px solid #7b7b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.show-days-events .wrap-for-events .item-in-day .item-remind {
  margin: 0 16px;
  width: 28px;
}

.show-days-events .wrap-for-events .item-in-day .item-time {
  font-size: 28pt;
  margin: 0 20px;
  width: 90px;
  text-align: right;
}

.show-days-events .wrap-for-events .item-in-day .item-main-part {
  font-size: 16pt;
}

.show-days-events .wrap-for-events .item-in-day .item-delete {
  margin: 0 16px 0 auto;
  width: 36px;
}

.show-days-events .section-footer {
  height: 100px;
  border: 1px solid black;
  margin: 1px;
  overflow: hidden;
}

.reminder {
  position: absolute;
  top: 200px;
  width: 400px;
  left: calc(50%-200px);
  color: white;
  background-color: #ee1628;
  font-size: 18px;
  text-align: center;
  padding: 20px 30px;
  border: 3px solid white;
  -webkit-animation: changeBackground 2s infinite;
          animation: changeBackground 2s infinite;
}

@-webkit-keyframes changeBackground {
  25% {
    background-color: #ee1628;
  }
  100% {
    background-color: orange;
  }
}

@keyframes changeBackground {
  25% {
    background-color: #ee1628;
  }
  100% {
    background-color: orange;
  }
}
/*# sourceMappingURL=style.css.map */