* {
  box-sizing: border-box;
}
.wrap {
  display: flex;
  justify-content: space-around;
  background-color: #c1cedf;
  .add-new-event,
  .show-days-events {
    width: 40%;
    height: 590px;
    margin: 40px 0;
  }
}
.section-title {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 24pt;
}
.add-new-event {
  color: white;
  background-color: #46529e;
  fieldset {
    margin: 0;
    border: none;
    width: 100%;
    .wrap-for-buttons {
      display: flex;
    }
  }
  .fieldset-for-types {
    height: 172px;
  }
  label {
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px 0;
    option {
      color: white;
      background-color: #46529e;
    }
    input,
    select {
      color: inherit;
      background-color: inherit;
      margin: 0 10px;
      border: none;
    }
    textarea {
      margin-left: 10px;
      resize: none;
      width: 100%;
    }
    ::placeholder {
      color: #dedfe4;
    }
  }
  button {
    text-transform: uppercase;
    padding: 10px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
  .submit {
    background-color: #30b9ef;
    flex-grow: 1;
  }
  .reset {
    background-color: #ee1628;
  }
}
.show-days-events {
  background-color: white;
  display: flex;
  flex-direction: column;
  .date-out {
    font-size: 20pt;
    border: none;
  }
  .wrap-for-section {
    display: flex;
    flex-direction: column;
    height: 530px;
  }
  .wrap-for-events {
    flex-grow: 1;
    border: 1px solid black;
    margin: 1px 1px 0;
    overflow: auto;
    .item-in-day {
      height: 60px;
      margin: 1px;
      border: 1px solid #7b7b7b;
      display: flex;
      align-items: center;
      overflow: hidden;
      .item-remind {
        margin: 0 16px;
        width: 28px;
      }
      .item-time {
        font-size: 28pt;
        margin: 0 20px;
        width: 90px;
        text-align: right;
      }
      .item-main-part {
        font-size: 16pt;
      }
      .item-delete {
        margin: 0 16px 0 auto;
        width: 36px;
      }
    }
  }
  .section-footer {
    height: 100px;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
  }
}

.reminder {
  position: absolute;
  top: 200px;
  width: 400px;
  left: calc(50%-200px);
  color: white;
  background-color: #ee1628;
  font-size: 18px;
  text-align: center;
  padding: 20px 30px;
  border: 3px solid white;
  animation: changeBackground 2s infinite;
}

@keyframes changeBackground {
  25% {
    background-color: #ee1628;
  }
  100% {
    background-color: orange;
  }
}
