.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}
.wrap-item {
  width: 250px;
  margin: 20px;
  border: 1px solid green;
}
.characteristic {
  text-align: right;
  padding: 3px;
}
.low-level {
  background-color: rgb(80, 204, 80);
}
.middle-level {
  background-color: rgb(226, 212, 17);
}
.high-level {
  background-color: rgb(230, 44, 44);
}
.item-img {
  width: 100px;
}

.filters {
  max-width: 350px;
  margin: 20px auto;
  border: 3px double black;
}
.filters div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.num-page {
  cursor: pointer;
  padding: 0 2px;
}
.pages{
  display: flex;
  justify-content: center;
}